@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}
.contain {
	width: 1280px;
	height: auto;
	margin: 0 auto;
}
.box {
	position: relative;
	float: left;
	
}
.content {
	margin:5px 5px;
	padding: 10px;
	border: 1px #CCC solid;
	box-shadow: 1px 1px 1px #999;
	border-radius: 12px;
	
}
.content img {
	width: 240px;
	height: auto;
}
