@charset "utf-8";
/* CSS Document */
#pic { text-align:center;  }
.pic img { margin-top:-30px;}
#pic .pic2,#pic .pic3 { display:none;}
.breadcrumb li { color:#C09; cursor:pointer;}
.wjkactive { background:#EEE;}
.zj { color:#C39;}
#showhtml,#showcss,#showjs,#showeb { display:none;}
.qianyan { margin-left:5px; margin-top:-15px;}


