@charset "utf-8";
/* CSS Document */
.container {
 width: 540px;
 height: 260px;
 padding: 10px 60px;
}
.table {
	text-align: right;
}
.form-horizontal {
	margin: 0 auto;
}
.wai {
	border: 1px #09C solid;
	box-shadow: 1px 1px 1px #6CF;
	height: 100%;
}
.static {
	width: 420px;
	height: 40px;
	border: 1px #09C solid;
	margin: 0 auto;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	margin-top: 100px;
	box-shadow: 1px 1px 1px #6CF;
	text-align: center;
	line-height: 40px;
}

